<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post|%>
  <div class="post">
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to "New post", new_post_path %>
<% end %>